<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>id</key>
		<string>1</string>
		<key>name</key>
		<string>十年</string>
		<key>singer</key>
		<string>陈奕迅</string>
	</dict>
	<key>B</key>
	<dict>
		<key>id</key>
		<string>2</string>
		<key>name</key>
		<string>练习</string>
		<key>singer</key>
		<string>刘德华</string>
	</dict>
	<key>C</key>
	<dict>
		<key>id</key>
		<string>3</string>
		<key>name</key>
		<string>突然好想你</string>
		<key>singer</key>
		<string>五月天</string>
	</dict>
	<key>D</key>
	<dict>
		<key>id</key>
		<string>5</string>
		<key>name</key>
		<string>知足</string>
		<key>singer</key>
		<string>五月天</string>
	</dict>
	<key>E</key>
	<dict>
		<key>id</key>
		<string>9</string>
		<key>name</key>
		<string>大海</string>
		<key>singer</key>
		<string>张雨生</string>
	</dict>
	<key>F</key>
	<dict>
		<key>id</key>
		<string>10</string>
		<key>name</key>
		<string>后来</string>
		<key>singer</key>
		<string>刘若英</string>
	</dict>
	<key>G</key>
	<dict>
		<key>id</key>
		<string>12</string>
		<key>name</key>
		<string>红豆</string>
		<key>singer</key>
		<string>王菲</string>
	</dict>
	<key>H</key>
	<dict>
		<key>id</key>
		<string>21</string>
		<key>name</key>
		<string>痴心绝对</string>
		<key>singer</key>
		<string>李圣杰</string>
	</dict>
	<key>I</key>
	<dict>
		<key>id</key>
		<string>23</string>
		<key>name</key>
		<string>如果的事</string>
		<key>singer</key>
		<string>范玮琪</string>
	</dict>
	<key>J</key>
	<dict>
		<key>id</key>
		<string>24</string>
		<key>name</key>
		<string>第一次爱的人</string>
		<key>singer</key>
		<string>王心凌</string>
	</dict>
	<key>K</key>
	<dict>
		<key>id</key>
		<string>25</string>
		<key>name</key>
		<string>挥着翅膀的女孩</string>
		<key>singer</key>
		<string>容祖儿</string>
	</dict>
	<key>L</key>
	<dict>
		<key>id</key>
		<string>28</string>
		<key>name</key>
		<string>刀剑如梦</string>
		<key>singer</key>
		<string>周华健</string>
	</dict>
	<key>M</key>
	<dict>
		<key>id</key>
		<string>26</string>
		<key>name</key>
		<string>灰色空间</string>
		<key>singer</key>
		<string>罗志祥</string>
	</dict>
	<key>N</key>
	<dict>
		<key>id</key>
		<string>29</string>
		<key>name</key>
		<string>再见王子</string>
		<key>singer</key>
		<string>棉花糖</string>
	</dict>
	<key>O</key>
	<dict>
		<key>id</key>
		<string>30</string>
		<key>name</key>
		<string>盛夏光年</string>
		<key>singer</key>
		<string>五月天</string>
	</dict>
	<key>P</key>
	<dict>
		<key>id</key>
		<string>31</string>
		<key>name</key>
		<string>老男孩</string>
		<key>singer</key>
		<string>筷子兄弟</string>
	</dict>
	<key>Q</key>
	<dict>
		<key>id</key>
		<string>32</string>
		<key>name</key>
		<string>一百块都不给我</string>
		<key>singer</key>
		<string>小红帽</string>
	</dict>
	<key>R</key>
	<dict>
		<key>id</key>
		<string>33</string>
		<key>name</key>
		<string>爱情买卖</string>
		<key>singer</key>
		<string>慕容晓晓</string>
	</dict>
	<key>S</key>
	<dict>
		<key>id</key>
		<string>34</string>
		<key>name</key>
		<string>可惜不是你</string>
		<key>singer</key>
		<string>梁静茹</string>
	</dict>
	<key>T</key>
	<dict>
		<key>id</key>
		<string>35</string>
		<key>name</key>
		<string>我只在乎你</string>
		<key>singer</key>
		<string>邓丽君</string>
	</dict>
	<key>U</key>
	<dict>
		<key>id</key>
		<string>36</string>
		<key>name</key>
		<string>过火</string>
		<key>singer</key>
		<string>张信哲</string>
	</dict>
	<key>V</key>
	<dict>
		<key>id</key>
		<string>37</string>
		<key>name</key>
		<string>七里香</string>
		<key>singer</key>
		<string>周杰伦</string>
	</dict>
	<key>W</key>
	<dict>
		<key>id</key>
		<string>38</string>
		<key>name</key>
		<string>猜不透</string>
		<key>singer</key>
		<string>丁当</string>
	</dict>
	<key>Z</key>
	<dict>
		<key>id</key>
		<string>39</string>
		<key>name</key>
		<string>比较爱</string>
		<key>singer</key>
		<string>梁静茹</string>
	</dict>
	<key>A - 2</key>
	<dict>
		<key>id</key>
		<string>40</string>
		<key>name</key>
		<string>广岛之恋</string>
		<key>singer</key>
		<string>莫文蔚、张洪量</string>
	</dict>
	<key>A - 3</key>
	<dict>
		<key>id</key>
		<string>6</string>
		<key>name</key>
		<string>隐形的翅膀</string>
		<key>singer</key>
		<string>张韶涵</string>
	</dict>
	<key>A - 4</key>
	<dict>
		<key>id</key>
		<string>19</string>
		<key>name</key>
		<string>边走边爱</string>
		<key>singer</key>
		<string>谢霆锋</string>
	</dict>
	<key>A - 5</key>
	<dict>
		<key>id</key>
		<string>22</string>
		<key>name</key>
		<string>春泥</string>
		<key>singer</key>
		<string>庾澄庆</string>
	</dict>
	<key>A - 6</key>
	<dict>
		<key>id</key>
		<string>17</string>
		<key>name</key>
		<string>比我幸福</string>
		<key>singer</key>
		<string>陈晓东</string>
	</dict>
	<key>A - 7</key>
	<dict>
		<key>id</key>
		<string>13</string>
		<key>name</key>
		<string>黄昏</string>
		<key>singer</key>
		<string>周传雄</string>
	</dict>
</dict>
</plist>
