<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<array>
		<string>我的空间</string>
		<string>录音列表</string>
	</array>
	<key>B</key>
	<array>
		<string>关注</string>
		<string>粉丝</string>
	</array>
	<key>C</key>
	<array>
		<string>找歌曲</string>
		<string>找朋友</string>
	</array>
</dict>
</plist>
