<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>city</key>
		<string>北京</string>
		<key>songName</key>
		<string>突然好想你</string>
		<key>userName</key>
		<string>jiajia</string>
		<key>kaclCount</key>
		<string>11</string>
		<key>runCount</key>
		<string>110</string>
		<key>fansCount</key>
		<string>233</string>
		<key>recordID</key>
		<string>11111</string>
		<key>songID</key>
		<string>100</string>
		<key>lrcID</key>
		<string>100</string>
		<key>recordDate</key>
		<string>2015-02-09</string>
		<key>listenNum</key>
		<string>212</string>
		<key>score</key>
		<string>9334</string>
		<key>figureurl</key>
		<string>default_avatar_image@2x.png</string>
		<key>sign</key>
		<string>这是我唱的第一首歌哦，欢迎大家来听</string>
	</dict>
	<dict>
		<key>songName</key>
		<string>K歌之王</string>
		<key>city</key>
		<string>杭州</string>
		<key>userName</key>
		<string>✿ˋzoe屁桃君 ﹏ 🍋</string>
		<key>kaclCount</key>
		<string>6</string>
		<key>runCount</key>
		<string>60</string>
		<key>fansCount</key>
		<string>23</string>
		<key>recordID</key>
		<string>11111</string>
		<key>songID</key>
		<string>100</string>
		<key>lrcID</key>
		<string>100</string>
		<key>recordDate</key>
		<string>2015-02-08</string>
		<key>listenNum</key>
		<string>1553</string>
		<key>score</key>
		<string>6000</string>
		<key>figureurl</key>
		<string>a01@2x.png</string>
		<key>sign</key>
		<string>别轻易闯进峩旳世界、</string>
	</dict>
	<dict>
		<key>songName</key>
		<string>可惜不是你</string>
		<key>city</key>
		<string>上海</string>
		<key>userName</key>
		<string>Mr⌒Right。</string>
		<key>kaclCount</key>
		<string>6</string>
		<key>runCount</key>
		<string>90</string>
		<key>fansCount</key>
		<string>433</string>
		<key>recordID</key>
		<string>11111</string>
		<key>songID</key>
		<string>100</string>
		<key>lrcID</key>
		<string>100</string>
		<key>recordDate</key>
		<string>2015-02-07</string>
		<key>listenNum</key>
		<string>231</string>
		<key>score</key>
		<string>6775</string>
		<key>figureurl</key>
		<string>a20@2x.png</string>
		<key>sign</key>
		<string>我奢求的想拥有一颗星星，只渴望它能照亮我回家的路。</string>
	</dict>
	<dict>
		<key>songName</key>
		<string>天黑黑</string>
		<key>city</key>
		<string>重庆</string>
		<key>userName</key>
		<string>Romantic</string>
		<key>kaclCount</key>
		<string>5</string>
		<key>runCount</key>
		<string>50</string>
		<key>fansCount</key>
		<string>865</string>
		<key>recordID</key>
		<string>11111</string>
		<key>songID</key>
		<string>100</string>
		<key>lrcID</key>
		<string>100</string>
		<key>recordDate</key>
		<string>2015-02-07</string>
		<key>listenNum</key>
		<string>87</string>
		<key>score</key>
		<string>5443</string>
		<key>figureurl</key>
		<string>a02@2x.png</string>
		<key>sign</key>
		<string>起飞年底将至，需要订货请抓紧时间，8号以后不接所有订单</string>
	</dict>
	<dict>
		<key>songName</key>
		<string>可惜没有如果</string>
		<key>userName</key>
		<string>塔玛德丶法克</string>
		<key>kaclCount</key>
		<string>3</string>
		<key>city</key>
		<string>南京</string>
		<key>runCount</key>
		<string>30</string>
		<key>fansCount</key>
		<string>983</string>
		<key>recordID</key>
		<string>11111</string>
		<key>songID</key>
		<string>100</string>
		<key>lrcID</key>
		<string>100</string>
		<key>recordDate</key>
		<string>2015-02-06</string>
		<key>listenNum</key>
		<string>343</string>
		<key>score</key>
		<string>2355</string>
		<key>figureurl</key>
		<string>a03@2x.png</string>
		<key>sign</key>
		<string>自由不是想干什么就干什么</string>
	</dict>
	<dict>
		<key>songName</key>
		<string>莫斯科没有眼泪</string>
		<key>userName</key>
		<string>model</string>
		<key>kaclCount</key>
		<string>8</string>
		<key>city</key>
		<string>华盛顿</string>
		<key>runCount</key>
		<string>675</string>
		<key>fansCount</key>
		<string>565</string>
		<key>recordID</key>
		<string>11111</string>
		<key>songID</key>
		<string>100</string>
		<key>lrcID</key>
		<string>100</string>
		<key>recordDate</key>
		<string>2015-02-07</string>
		<key>listenNum</key>
		<string>5643</string>
		<key>score</key>
		<string>3434</string>
		<key>figureurl</key>
		<string>a04@2x.png</string>
		<key>sign</key>
		<string>来生我还要做女人，乐观，温柔，善解人意，大方得体于一身的女人。</string>
	</dict>
	<dict>
		<key>songName</key>
		<string>下一个天亮</string>
		<key>userName</key>
		<string>小の蛮Oo</string>
		<key>kaclCount</key>
		<string>6</string>
		<key>runCount</key>
		<string>60</string>
		<key>city</key>
		<string>台北</string>
		<key>fansCount</key>
		<string>5653</string>
		<key>recordID</key>
		<string>334</string>
		<key>songID</key>
		<string>100</string>
		<key>lrcID</key>
		<string>100</string>
		<key>recordDate</key>
		<string>2015-02-06</string>
		<key>listenNum</key>
		<string>532</string>
		<key>score</key>
		<string>3423</string>
		<key>figureurl</key>
		<string>a05@2x.png</string>
		<key>sign</key>
		<string>忍一时，风平浪静；退一步，海阔天空。。</string>
	</dict>
	<dict>
		<key>songName</key>
		<string>第一次</string>
		<key>userName</key>
		<string>小时候</string>
		<key>kaclCount</key>
		<string>11</string>
		<key>city</key>
		<string>温州</string>
		<key>runCount</key>
		<string>110</string>
		<key>fansCount</key>
		<string>233</string>
		<key>recordID</key>
		<string>11111</string>
		<key>songID</key>
		<string>100</string>
		<key>lrcID</key>
		<string>100</string>
		<key>recordDate</key>
		<string>2015-02-06</string>
		<key>listenNum</key>
		<string>23</string>
		<key>score</key>
		<string>3222</string>
		<key>figureurl</key>
		<string>a06@2x.png</string>
		<key>sign</key>
		<string>晒得好黑啊～</string>
	</dict>
	<dict>
		<key>songName</key>
		<string>短发</string>
		<key>userName</key>
		<string>小马❤过河</string>
		<key>kaclCount</key>
		<string>23</string>
		<key>city</key>
		<string>台湾</string>
		<key>runCount</key>
		<string>232</string>
		<key>fansCount</key>
		<string>654</string>
		<key>recordID</key>
		<string>11111</string>
		<key>songID</key>
		<string>100</string>
		<key>lrcID</key>
		<string>100</string>
		<key>recordDate</key>
		<string>2015-02-06</string>
		<key>listenNum</key>
		<string>292</string>
		<key>score</key>
		<string>2334</string>
		<key>figureurl</key>
		<string>a07@2x.png</string>
		<key>sign</key>
		<string>怪我咯|不能只依靠片片回忆活下去</string>
	</dict>
	<dict>
		<key>songName</key>
		<string>痴心绝对</string>
		<key>userName</key>
		<string>月光漫步</string>
		<key>kaclCount</key>
		<string>9</string>
		<key>city</key>
		<string>阿姆斯特丹</string>
		<key>runCount</key>
		<string>90</string>
		<key>fansCount</key>
		<string>95</string>
		<key>recordID</key>
		<string>11111</string>
		<key>songID</key>
		<string>100</string>
		<key>lrcID</key>
		<string>100</string>
		<key>recordDate</key>
		<string>2015-02-05</string>
		<key>listenNum</key>
		<string>98</string>
		<key>score</key>
		<string>7665</string>
		<key>figureurl</key>
		<string>a08@2x.png</string>
		<key>sign</key>
		<string>茕茕白兔，东走西顾，衣不如新，人不如故…</string>
	</dict>
	<dict>
		<key>songName</key>
		<string>盛夏的果实</string>
		<key>userName</key>
		<string>木木纶</string>
		<key>kaclCount</key>
		<string>3</string>
		<key>runCount</key>
		<string>34</string>
		<key>fansCount</key>
		<string>9083</string>
		<key>city</key>
		<string>堪培拉</string>
		<key>recordID</key>
		<string>33</string>
		<key>songID</key>
		<string>100</string>
		<key>lrcID</key>
		<string>100</string>
		<key>recordDate</key>
		<string>2015-02-04</string>
		<key>listenNum</key>
		<string>23</string>
		<key>score</key>
		<string>8765</string>
		<key>figureurl</key>
		<string>a09@2x.png</string>
		<key>sign</key>
		<string>小家伙一路睡到外婆家</string>
	</dict>
	<dict>
		<key>songName</key>
		<string>会呼吸的痛</string>
		<key>userName</key>
		<string>Lady FeiFei</string>
		<key>kaclCount</key>
		<string>5</string>
		<key>city</key>
		<string>新竹</string>
		<key>runCount</key>
		<string>54</string>
		<key>fansCount</key>
		<string>344</string>
		<key>recordID</key>
		<string>11111</string>
		<key>songID</key>
		<string>100</string>
		<key>lrcID</key>
		<string>100</string>
		<key>recordDate</key>
		<string>2015-02-04</string>
		<key>listenNum</key>
		<string>232</string>
		<key>score</key>
		<string>8654</string>
		<key>figureurl</key>
		<string>a10@2x.png</string>
		<key>sign</key>
		<string>风雨，会考验最暖的陪伴。</string>
	</dict>
	<dict>
		<key>songName</key>
		<string>亲爱的那不是爱情</string>
		<key>userName</key>
		<string>Tom fong</string>
		<key>kaclCount</key>
		<string>9</string>
		<key>runCount</key>
		<string>64</string>
		<key>fansCount</key>
		<string>34</string>
		<key>city</key>
		<string>南京</string>
		<key>recordID</key>
		<string>11111</string>
		<key>songID</key>
		<string>100</string>
		<key>lrcID</key>
		<string>100</string>
		<key>recordDate</key>
		<string>2015-02-04</string>
		<key>listenNum</key>
		<string>231</string>
		<key>score</key>
		<string>9764</string>
		<key>figureurl</key>
		<string>a11@2x.png</string>
		<key>sign</key>
		<string>弹视频抖窗口者一律拉黑！弹视频抖窗口者一律拉黑！弹视频抖窗口者一律拉黑！弹视频抖窗口者一律拉黑！弹视频抖窗口者一律拉黑！弹视频抖窗口者一律拉黑！</string>
	</dict>
	<dict>
		<key>songName</key>
		<string>可惜不是你</string>
		<key>userName</key>
		<string>Chaoy．＂宛儿گ</string>
		<key>kaclCount</key>
		<string>7</string>
		<key>runCount</key>
		<string>454</string>
		<key>fansCount</key>
		<string>434</string>
		<key>city</key>
		<string>湖州</string>
		<key>recordID</key>
		<string>11111</string>
		<key>songID</key>
		<string>100</string>
		<key>lrcID</key>
		<string>100</string>
		<key>recordDate</key>
		<string>2015-02-04</string>
		<key>listenNum</key>
		<string>902</string>
		<key>score</key>
		<string>7663</string>
		<key>figureurl</key>
		<string>a12@2x.png</string>
		<key>sign</key>
		<string>被伤过的心还可以爱谁。</string>
	</dict>
	<dict>
		<key>songName</key>
		<string>红豆</string>
		<key>userName</key>
		<string>豹纹三点式。</string>
		<key>kaclCount</key>
		<string>11</string>
		<key>runCount</key>
		<string>110</string>
		<key>city</key>
		<string>伦敦</string>
		<key>fansCount</key>
		<string>233</string>
		<key>recordID</key>
		<string>11111</string>
		<key>songID</key>
		<string>100</string>
		<key>lrcID</key>
		<string>100</string>
		<key>recordDate</key>
		<string>2015-02-09</string>
		<key>listenNum</key>
		<string>212</string>
		<key>score</key>
		<string>9334</string>
		<key>figureurl</key>
		<string>a13@2x.png</string>
		<key>sign</key>
		<string>全国第一款组合营销软件问世-SKYCC组合营销软件</string>
	</dict>
	<dict>
		<key>songName</key>
		<string>开始懂了</string>
		<key>userName</key>
		<string>丆要丟丅莪</string>
		<key>kaclCount</key>
		<string>4</string>
		<key>runCount</key>
		<string>45</string>
		<key>city</key>
		<string>柏林</string>
		<key>fansCount</key>
		<string>32</string>
		<key>recordID</key>
		<string>11111</string>
		<key>songID</key>
		<string>100</string>
		<key>lrcID</key>
		<string>100</string>
		<key>recordDate</key>
		<string>2015-02-03</string>
		<key>listenNum</key>
		<string>64</string>
		<key>score</key>
		<string>2322</string>
		<key>figureurl</key>
		<string>a14@2x.png</string>
		<key>sign</key>
		<string>来个疯狂的，五冲钻，你给我刷单，我给您十倍回馈，凡在本店“饰界完美”单笔消费满69元即可获赠6mm白水晶</string>
	</dict>
	<dict>
		<key>songName</key>
		<string>爱很简单</string>
		<key>userName</key>
		<string>corda</string>
		<key>kaclCount</key>
		<string>2</string>
		<key>runCount</key>
		<string>23</string>
		<key>fansCount</key>
		<string>544</string>
		<key>city</key>
		<string>南京</string>
		<key>recordID</key>
		<string>11111</string>
		<key>songID</key>
		<string>100</string>
		<key>lrcID</key>
		<string>100</string>
		<key>recordDate</key>
		<string>2015-02-03</string>
		<key>listenNum</key>
		<string>75</string>
		<key>score</key>
		<string>3232</string>
		<key>figureurl</key>
		<string>a15@2x.png</string>
		<key>sign</key>
		<string>在握紧弓的那瞬间，就感觉心如止水</string>
	</dict>
	<dict>
		<key>songName</key>
		<string>突然好想你</string>
		<key>userName</key>
		<string>菊花台</string>
		<key>kaclCount</key>
		<string>23</string>
		<key>runCount</key>
		<string>89</string>
		<key>fansCount</key>
		<string>34</string>
		<key>recordID</key>
		<string>11111</string>
		<key>city</key>
		<string>天津</string>
		<key>songID</key>
		<string>100</string>
		<key>lrcID</key>
		<string>100</string>
		<key>recordDate</key>
		<string>2015-02-03</string>
		<key>listenNum</key>
		<string>65</string>
		<key>score</key>
		<string>3434</string>
		<key>figureurl</key>
		<string>a16@2x.png</string>
		<key>sign</key>
		<string>承接各类监控安装、楼宇门禁、智能停车场系统、人行通道闸 </string>
	</dict>
	<dict>
		<key>songName</key>
		<string>我们的爱</string>
		<key>userName</key>
		<string>始终如一，做你男人</string>
		<key>kaclCount</key>
		<string>65</string>
		<key>runCount</key>
		<string>566</string>
		<key>fansCount</key>
		<string>745</string>
		<key>recordID</key>
		<string>11111</string>
		<key>city</key>
		<string>杭州</string>
		<key>songID</key>
		<string>100</string>
		<key>lrcID</key>
		<string>100</string>
		<key>recordDate</key>
		<string>2015-02-02</string>
		<key>listenNum</key>
		<string>32</string>
		<key>score</key>
		<string>6523</string>
		<key>figureurl</key>
		<string>a17@2x.png</string>
		<key>sign</key>
		<string>我到底该怎么做，只怪自己没能力</string>
	</dict>
	<dict>
		<key>songName</key>
		<string>黄昏</string>
		<key>userName</key>
		<string>孤独小妖</string>
		<key>kaclCount</key>
		<string>5</string>
		<key>runCount</key>
		<string>65</string>
		<key>fansCount</key>
		<string>453</string>
		<key>recordID</key>
		<string>11111</string>
		<key>songID</key>
		<string>100</string>
		<key>lrcID</key>
		<string>100</string>
		<key>city</key>
		<string>南京</string>
		<key>recordDate</key>
		<string>2015-02-02</string>
		<key>listenNum</key>
		<string>988</string>
		<key>score</key>
		<string>8899</string>
		<key>figureurl</key>
		<string>a18@2x.png</string>
		<key>sign</key>
		<string>从头在来，，开心过好每一天</string>
	</dict>
	<dict>
		<key>songName</key>
		<string>一直很安静</string>
		<key>userName</key>
		<string>春天的约定</string>
		<key>kaclCount</key>
		<string>8</string>
		<key>runCount</key>
		<string>89</string>
		<key>fansCount</key>
		<string>943</string>
		<key>recordID</key>
		<string>11111</string>
		<key>city</key>
		<string>巴黎</string>
		<key>songID</key>
		<string>100</string>
		<key>lrcID</key>
		<string>100</string>
		<key>recordDate</key>
		<string>2015-02-02</string>
		<key>listenNum</key>
		<string>34</string>
		<key>score</key>
		<string>9453</string>
		<key>figureurl</key>
		<string>a19@2x.png</string>
		<key>sign</key>
		<string>本人热爱睡觉，发呆，神游，唱歌，…… 废话少说</string>
	</dict>
</array>
</plist>
